body {
    background-color: white;
    text-align: center;
}


h1 {
    font-family: cursive;
    font-size: 30px;
    color: darkgrey;
    border-radius: 60px;
    background-image: radial-gradient(white, #B841B2);
}

p {
    margin: 25px 50px 75px 50px;
    font-size: 18px;
    color: white;
}
